

.lazy {
    display: block;
   margin:auto;
   padding: 0.5rem;
}

h1{
    text-align: center;
    color:cornsilk;
}

body{
    background-color: blue;
}


.class img[data-src] {
    filter: blur(0.2em);
  }
  
  .class img {
    filter: blur(0em);
    transition: filter 0.5s;
  }