

header, footer {
    color: black;
    font-size: 20px;
    background-color:#DD7373;
    padding: .8rem;
    border-radius: .5rem;
    text-align: center;
    justify-content: center;

}

nav   ul li {
    list-style-type: none;
   
}

ul li{
    text-decoration:none;
}

h2{
color: #4D6CFA;
    
    font-size: 10px;
   /* border-radius: .5rem;*/
   text-align:center;
   font-size: 25px;
}


p {
    text-align: center;
}


.links{
    justify-content: center;}



body {
margin: 0 auto;
 width: 1000px;
}

 

nav ul{
    text-align:center;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

header{
    display: flex;

    flex-direction:column;
    
}



th,td {
    border:1px solid black;
    padding: 1rem;

}

th{
    margin-bottom: 1rem;
    
    }
.colors{
    text-align: center;
}
.Header{
    background-color:#DD7373;

}
.Navigation{
    background-color:#4D6CFA;
}
.Fonts{
    background-color:#511C29;
}
.Website{
    background-color:#1EA896;
}

table{
    margin: 0 auto;
}

img{
    margin-left: 23rem ;
}