/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



header, footer {

  
  
    color:black;
    font-size: 25px;
    background-color:#DD7373;
    padding: .8rem;
    border-radius: .5rem;
    /*text-align: center;
    justify-content: center;*/
  
  }
  
  main{
  
  
    
    font-size: 25px;
    padding: .8rem;
    border-radius: .5rem;
    /*border: solid black;*/

    max-width: 1000px;
/* this margin auto centered the page as well as limiting the image movement was with the max width.*/
    margin: auto ;
  }
  .logo-box img{
      border:none;
      box-shadow: none;
      align-content: center;
      width:200px;
      
    }
  
  h1{
  
    align-items: center;
  padding: 0;
  
  }
  
  h3{
    text-align: center;
    margin: 0 auto;
  }
  
  
  .logo-box{
    display:flex;
    flex-direction: column;
  }
  
  
  .logo-text{
    
    text-align:center;
    font-size: 30px;
    margin: auto 0;
  }
  
  .logo-slogan{
    text-align: center;
    font-size: 35px;
    margin-top:-3rem;
   
  }
    
    nav ul {
      list-style: none; /*removes the bullet point*/
      display: grid;
    
      margin: 0;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
      /* auto-fit tells the browser to create as many columns as it can fit in the space availabe*/
      /*Then instead of giving a specific size for each column, we used the minmax method. This tells 
      the browser to create columns that are 1fr big, but no column can be smaller than 6em .*/
    }
    
    nav a:hover {
      color:rgb(29, 126, 37);
    }
    
    nav a {
      color:black;
      /*margin-left: 30px;*/
      text-decoration: none;
    }
  
    footer{
      text-align:center;
    }
  
    .link{
      padding:1rem;
      width:100%
    }
  
    .box{
      background-color: rgb(206, 201, 201);
      border: 1px dotted black;
      margin: 1rem;
      padding:1rem;
    }
  
  
    h2{
      font-size: 3rem;
      
      text-align: center;
      margin: auto 0;
  
    }
  
  
    nav ul.hide {
      display: none;
  }
  
  nav button{
    margin:.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color:#fff;
  }
  
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*This is the way finder for the links, it lets viewers know where they are going to*/

  .active ul li a.home__link{
    background-color:#4CAF50;

  }
/*This brought the square brackets on the links because  i added an active class to the ul li tag*/
  .active ul li a:hover{
    background-color: #555;
    color:white;
  }
/* I think does the same thing as the code above
  .active ul li a:hover:not(.active){
    background-color: green;
    color:red;
  } */

  /*The color over the text*/
  .banner_content {  
    background-color: burlywood;
    margin:0 auto;
    padding: 5px;
    width: 100%;
  }
  .banner__text{
    text-align: center;
  }
    
.banner__close {
  background: none;
  border: none;
  cursor: pointer;
  margin:0 auto;
  display:flex;
  align-items: left;
}

.home__img img{
  /*padding-left: 18px;*/
  margin: 0 auto;
  width: 100%;
  height: 500px;

  
}


.flex {
	/*display: flex;*/
	/* flex-direction: row; */
	/* let us combine row and wrap with flow */
  /*flex-flow: row wrap;*/
  /*padding-left: 18px;
  width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;*/
    display:none;
}

/*.flex-col {
	flex: 1 1 auto;
  background-color: rgb(206, 201, 201);
  width:100px;
}*/

 .column-col, .grid-col {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
}


/*.flex-col:hover, td:hover, .column-col:hover, .grid-col:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}*/
 .column, .grid {
	border-right: 1px solid #333;
}



.iconify { width: 24px; 
  height: 24px; 
padding-top: 1px;

}

.prestonmap{
  
  width: 50%;
  height: 250px;
  margin-top: 25px;
display:none;
}

.location p{
  justify-content: right;
}

.maps{
  display:flex;
  justify-content:space-around;
  background-color: rgb(204, 198, 198);
  
}

.socialmedia{
 
  align-content: center;
  justify-content: space-between;
  margin-top: 25px;
}

.maps p {
  margin: 0;
}
h4{
  margin:0;
}

.article img{
  width: 100%;
  box-shadow: rgb(128, 12, 29);
  /*height: 345px;
  box-shadow: rgb(128, 12, 29);
  margin: 0px 0px 0px 10px;   /*Basically, the four numbers represent TOP RIGHT BOTTOM LEFT. 
  So if you want to add the white space to a right-aligned image, you would do this:

*/
}

.article{
  
  
  border: solid black;
  padding-right: 20px;
  padding-left: 20px;
  
  
}

/*.flex p{
  font-size: 10px;
}*/

.flex{
  display: none;
}

.weathersummary{
  text-align: center;
  background-color: rgb(233, 146, 15);
  display: table;
  border-radius: 10px;
  position:relative;
  text-justify: distribute;
  margin-left: 2rem;
  margin-top: 2rem;
}
.weathersummary h2{
  font-size: 20px;
  margin: auto 0;
  
  

   }
/*setting the overlay for my hero image*/

.home__img{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
}

.weathersummary{
  grid-row: 2/3;
  z-index: 0;
}



.weather_pics img{

  width: 300px;
  height: 400px;

  
}

.weather_pics{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
}
.image{
  padding-top: 3rem;
  
  
  border-radius: 0.5rem;
  font-size: 15px;
  
}

.image p{
  display:none;
}

/*for my foprm page*/
form fieldset {

  margin: 2rem 0;
  border: 1px solid red;
  border-radius: 10px;
  padding:.5rem 2%;
}

form legend{
  margin: 0 1rem;
  color:blue;
  padding: 0 .5rem;
  

}

form label.top, form label.middle, form div {
  display:block;
  padding-top: 1rem;
  font-size: 30px; 
  

}

form label.top input, form label.middle input, form label.top form label.middle select {
  
  display: block;

border: solid 1px #999;
border-radius: 4px;
padding:.75rem;
color: #555;
width: 100%;
max-width: 20rem;
background-color: rgba(0,0,0,0.1);
}

form label.middle{
  display: block;
  padding: .75rem 0;
  color:#555;
}

form input.submitBtn{
  border: none;
  background-color: burlywood;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  font-size: 30px;
  width:96%;
  max-width: 30rem;
}

/* this one gives the color to the form that validates it*/

form label.top input, form label.middle input:required {
  border-left: solid red 6px ;

}

/*this one turn greens when the info is correct*/

form label.top input, form label.middle input:valid {
  border-left: solid green 6px;
}


.response{
  width: 60%;
   margin: auto;
   border: 1px solid cornflowerblue;
   padding: 1rem;
   background-color:cornflowerblue;
  
}
/*for my foprm page*/
/*for the home mels page*/

/*picture img{
  width: 300px;
  height: 400px;
  
}*/

/*h2{
  text-align: center;
  border-bottom: 3px double black;
  
}*/

/*start here*/
.individual{
  display: grid;
  grid-template-columns: 1fr ;
  margin-top: 1rem;
  max-width: 100%;
  
  box-shadow: 1px 2px 3px 4px rgb(25, 180, 108);
  
  
}
.individual .info{
  margin:1rem;
  padding: 1rem;
  box-shadow: 4px 5px 5px 4px ;
  background-color: rgba(37, 214, 214, 0.911);
  max-width:100%;
  
  
} 

.info .image1size{
  max-width:100%;
  box-shadow: 3px 3px 9px 5px black;
  
}

.towns{
  
  margin-top: 2rem;
  margin-bottom: -1rem;
  
  
}

.writings{
  padding:.5rem;
  text-align: center;
  max-width: 100%;
}

.writings h2{
  border-bottom: 4px double;
}

.writings p{
  font-weight: bolder;
  
}

.text{
  box-shadow: 2px 3px 7px black;
  padding:1rem;
  margin-top:2rem ;
  border-left: 10px solid #38839e;
}

.text h3{
  font-size: 2rem;
  color:#38839e;
  
}

/*for the home mels page*/