/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



header, footer {

  
  
    color:black;
    font-size: 25px;
    background-color:#DD7373;
    padding: .8rem;
    border-radius: .5rem;
    /*text-align: center;
    justify-content: center;*/
  
  }
  
  main{
  
  
    
    font-size: 25px;
    padding: .8rem;
    border-radius: .5rem;
  }
  .logo-box img{
      border:none;
      box-shadow: none;
      align-content: center;
      width:200px;
      
    }
  
  h1{
  
    align-items: center;
  padding: 0;
  
  }
  
  
  
  .logo-box{
    display:flex;
    flex-direction: column;
  }
  
  
  .logo-text{
    
    text-align:center;
    font-size: 30px;
    margin: auto 0;
  }
  
  .logo-slogan{
    text-align: center;
    font-size: 35px;
    margin-top:-3rem;
   
  }
    
    nav ul {
      list-style: none; /*removes the bullet point*/
      display: grid;
    
      margin: 0;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
      /* auto-fit tells the browser to create as many columns as it can fit in the space availabe*/
      /*Then instead of giving a specific size for each column, we used the minmax method. This tells 
      the browser to create columns that are 1fr big, but no column can be smaller than 6em .*/
    }
    
    nav a:hover {
      color:rgb(29, 126, 37);
    }
    
    nav a {
      color:black;
      /*margin-left: 30px;*/
      text-decoration: none;
    }
  
    footer{
      text-align:center;
    }
  
    .link{
      padding:1rem;
      width:100%
    }
  
    .box{
      background-color: rgb(206, 201, 201);
      border: 1px dotted black;
      margin: 1rem;
      padding:1rem;
    }
  
  
    h2{
      font-size: 3rem;
      margin-left: 1rem;
  
    }
  
  
    nav ul.hide {
      display: none;
  }
  
  nav button{
    margin:.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color:#fff;
  }
  
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }