
header, footer {
    color: white;
    font-size: 10px;
    background-color: purple;
    padding: 1rem;
    border-radius: .5rem;
    
    display: grid;
grid-column: 1/3;
    /*grid-row: 1/3;*/
    
}


body{ 

    width: 1000px;
}