@media only screen and (min-width: 60em){
    /*main{ 
    
        grid-template-columns: 1fr 1fr 1fr ;
        
    }*/
    

    nav ul li {float:left;}

    nav ul.hide  {
        display: list-item;
    }
    

      .logo-text{
    
        
        font-size: 50px;
       
      }





      .tour {
  
        grid-template-columns: 1fr 1fr ;
        
        justify-content: center;
        width: 800px;
    margin: auto;
}
        

      
      
      
      .image p{
        display:flex ;
      }


.image{
    
    margin-left:3rem ;
    margin-left: 5rem;
    margin-right: 5rem;
}

    
form label.middle {
  padding: .4rem 0;
  
}

f
.image {
  padding-top: 3rem;
  
  
  border-radius: 0.5rem;
  font-size: 15px;}



  
  .address1{
    display: flex;
    flex-direction: row;}



    .contact{
      width:1200px;
      
        margin: auto;
    
  }


  .revolving-pics img{
    display: flex;
    width: 1200px;
    height:300px;
   
   padding-right: 260px;
   
 
 }


 .white{
  
  width: 80%; 
}


iframe{

  margin: 10px;
  width: 80%;
}





  .socialmediat {
    flex-direction: row;
    font-size: 30px;
    padding-right: inherit;
    text-align: center;
}



.white1 {
  background-color: whitesmoke;
  /* width: 80%; */
  width: 100%;
  margin: 0.25rem;
  margin-left: 1.5rem;}


  form input.submitBtn {
  
    text-align: center;
    width: auto;
}
  
  
.mystyle {
  background-color: wheat;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}







}