



.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   background: turquoise;
}

h1{
    text-align: center;
}
footer{
    text-align: center;
}

img{
    width:100px
}

h2{
    color:tomato;
    font-size: 10px;
    
}
section{
    padding-left: 50px;
   
}